* {
  margin: 0px;
  padding: 0px;
}

.lady {
  height: 150px;
  width: auto;
  margin: 0 auto;
}

header,
footer {
  background-color: rgba(253, 221, 80, 0.534);
  border: 2px solid rgba(0, 0, 0, 0.315);
  padding: 15px;
}

main {
  padding: 20px;
}

nav ol {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ol li {
  margin: 0 10px;
}

.fotos {
  width: 300px;
  height: 200px;
}